{% extends 'base.html.twig' %}

{% block title %}New QOptions{% endblock %}

{% block body %}
    <h1>Create new QOptions</h1>

    {{ include('q_options/_form.html.twig') }}

    <a href="{{ path('q_options_index') }}">back to list</a>
{% endblock %}
